<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="{{ smallPhotoCover }}" alt="#" />
    </div>

    <div class="small-card__text">
      <div class="small-card__date">
        <p>{{ dateMounth }} {{ dateDay }}, {{ dateYear }}</p>
      </div>
      <div class="small-card__description">
        <p>
          <a href="#">{{ smallCardDescription }}</a>
        </p>
      </div>
    </div>
  </div>

  <div class="small-card__divisor">
    <hr />
  </div>

  <!--FIM DA DIV CONTAINER-->
</div>
