.container__articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles__bigCard,
.articles__smallCard {
  margin: 0 1rem;
}

.articles__smallCard {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

header {
  margin: 1rem;
}
