<div class="container__menu-bar">
  <ul>
    <li>
      <a href="">
        <img src="../../../assets/image-default.png" alt="" />
      </a>
    </li>
    <li>
      <a href="">AMEM</a>
    </li>
    <li><span>•</span></li>
    <li>
      <a href="">BEBIDA</a>
    </li>
    <li><span>•</span></li>
    <li>
      <a href="">CACHORRO</a>
    </li>
    <li><span>•</span></li>
    <li>
      <a href="">DADO</a>
    </li>
    <li><span>•</span></li>
    <li>
      <a href="">ELEFANTE</a>
    </li>
  </ul>

  <ul class="content__social">
    <li>
      <a href="#">
        <img src="../../../assets/icons8-facebook-100.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../assets/icons8-github-100.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../assets/icons8-instagram-100.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../assets/icons8-twitterx-100.png" alt="" />
      </a>
    </li>
  </ul>
</div>
